
/* ====== platform NAME ====== */

.platform-name {
	font: bold 14px Calibri;
	text-decoration: none;
	color: #333 !important;
}
@media (max-width: 479px) {
    .platform-name {
    	font-size: 1em;
    }
}

/* ====== MY INSTANCES ====== */

#help-button {
}
#help-button > span {
    display: inline;
}
#help-button > span.fa-stack {
	display: none;
}

    	/* show as icon */
        #help-button > span {
            display: none;
        }
        #help-button > span.fa-stack {
            display: inline-block;
        }
        #help-button .fa-question {
        	color: #d8ecf8;
        }
        #help-button .fa-stack-2x {
            color: #133651;
        }
    	
    @media (max-width: 755px) {
    	/* icon mobile-specific */
        #help-button {
            left: 20px;
            /*padding: 6px;*/
            position: absolute;
            top: .5em;
        }
    }
.help-popup {
	max-width: 50%;
	max-height: 50%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 1em;
	background-color: #f7fafd;
	overflow: auto;
    -webkit-overflow-scrolling: touch;
	box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.3);
}
	#my-instances-popup .column {
        float: left;
		width: 50%;
	}
	#my-instances-popup .column > p {
		padding: 0 5px;	
	}
	#my-instances-popup .popup-button {
	}
    @media (max-width: 755px) {
        .help-popup {
            max-width: 95%;
            max-height: 95%;
        }
        #address-bar-img-div {
            margin: auto;
        }
    }
    @media (max-width: 479px) {
        #my-instances-popup .column {
            float: none;
            width: 100%;
            text-align: center;
        }
    }

	#address-bar-img-div {
		overflow: hidden;
		width: 175px;
	}
	#address-bar-img-div > img {
		margin-left: -70px;
		max-width: none;
	}
	#domain-lookup-form {
		display: inline-block;
	}
	#waitingSpin {
		height: 30px;
		float: right;
		display: none;
	}
	#domain-parent-span {
		margin: 20px
	}
	#result-span {
		font-size: 1.5em;
	}
	
	
#location_select > li {
	
}
#location_select > li > .fa {
	display: inline;
	visibility: hidden;
	color: #333333;
	margin-right: .5em;
}
#location_select > li.selected > .fa {
	visibility: visible;
}
#platform-favorite-trigger .fa-stack {
    display: none;
}
#platform-favorite-buttons > span {
	display: none;
}
#platform-favorite-buttons > span.active {
    display: inline;
}
#platform-favorite-buttons #platform-favorite-clear.active {
	display: none;
}
#platform-favorite-buttons.filtered #platform-favorite-clear.active {
	display: inline;
}
#platform-favorite-buttons .fa {
	display: none;
}



    /* enable icons instead of text buttons */
    #platform-favorite-trigger > .button {
    	display: none;
    }
    #platform-favorite-trigger .fa-stack {
    	display: inline-block;
    }
    #platform-favorite-trigger .fa-stack-2x {
   	    color: #133651;
    }
    #platform-favorite-trigger .fa-star {
        color: #fbc51d;
    }
    #platform-favorite-trigger {
        cursor: pointer;
        /* for not using fa-stack
                       background-color: #133651;
                border: thin solid #666666;
                border-radius: 6px;
                padding: .25em .4em;
        */
    }
    #platform-favorite-buttons .fa {
        display: inline-block;
    }
    #platform-favorite-buttons > span.active {
    	display: inline;
    }
    #platform-favorite-buttons.filtered #platform-favorite-clear.active {
        display: inline;
    }
    #platform-favorite-buttons > span {
        display: none;
        cursor: pointer;
        /*
        border: thin solid #666666;
        border-radius: 6px;
        */
	}
	#platform-favorite-buttons .fa {
        color: #d8ecf8;
	}
	#platform-favorite-buttons .fa-stack-2x {
        color: #133651;
	}
	#platform-favorite-buttons .button {
        display: none;
	}

	/*need to override the "fixed" class from the global css*/
	#platform-favorite-buttons.fixed {
        position: static;
    }

@media (max-width: 755px) {
    #platform-favorite-trigger, #platform-favorite-buttons.fixed {
        position: absolute;
        right: 6px;
        top: .5em !important;
    }
    #platform-favorite-buttons.floating {
        position: fixed;
        right: 10px;
        top: 20%;
    }
	#platform-favorite-buttons.floating .fa-stack-2x {
        text-shadow: 0 1px 6px #222222;
	}
    #platform-favorite-buttons.filtered {
    	position: absolute;
    	top: 50%;
    }
    #platform-favorite-buttons > span {
        margin-bottom: .4em;
    }
    #platform-favorite-buttons > span.active {
    	display: block;
    }
    #platform-favorite-buttons.filtered #platform-favorite-clear.active {
        display: block;
    }
    
}




/* ====== THE STATUS TABLE  ====== */

#daily-button {
	position: relative;
}
#daily-button i.fa-spin {
	display: none;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
@media (min-width: 756px) {
	#now-button {
		display: none;
	}	
}
@media (max-width: 755px) {
    .toggle-buttons #hourly-button {
        border-radius: 0;
    }
}
#next-button i.fa-spin {
	display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: auto;
}
.platform-table-controls-placeholder {
    display: none;	
}
.platform-table-controls.floating .scroll-button {
    position: fixed;
    top: 20%;
    z-index: 10;
}
.platform-table-controls:not(.floating) #next-button {
	right: 0 !important;
}
.platform-table-controls:not(.floating) #prev-button {
	left: 0 !important;
}

@media (max-width: 755px) {
	.platform-table-controls {
		width: 100%;
		height: 1.8em;
		padding: .4em 0;
		position: relative;
	}
	.platform-table-controls-placeholder.floating {
		width: 100%;
		height: 1.8em;
		padding: .4em 0;
		display: block;
	}
	.platform-table-controls:not(.floating) {
		top: 0 !important;	
	}
	.platform-table-controls.floating {
		position: fixed;	
		left:0;
		background-color: white;
		z-index: 20;
	}
    .scroll-button {
        position: absolute;
        top: 0;
        margin: 0;
        font-size: 2em;
    }
    .platform-table-controls.floating .scroll-button {
        position: absolute;
        top: 0;
        margin: 0;
        font-size: 2em;
    }
    .platform-table-controls.floating #prev-button {
    		margin-left: 4px;
    }
    .platform-table-controls.floating #next-button {
    		margin-right: 4px;
    }
}


.platform-table {
  font-size: 14px;
  margin-bottom: 20px;
  font-family: Calibri;
}
.column-name {
	text-align: left;
	display: inline-block;
	width: 75%;
}
.column-name > span.platform-label {
	color: #555555;
	position: absolute;
	margin-top: .1em;
	font-size: .6em;
}
.column-status {
	text-align: center;
	display: inline-block;
	width: 20%;
}

/*override the default values in trust-instances.css for the correct hover color
*/
.column-status .fa-times {
	color: inherit;
}
.column-status .fa-exclamation {
	color:  inherit;
}
.column-status .fa-check {
	color:  inherit;
}
.column-status .fa-clock-o {
	color:  inherit;
}
.column-status .fa-ellipsis-h {
	color:  inherit;
}

.column-status .fa-stack {
	font-size: .5em;
}


.column-now {
	/*padding: .1em 12px;
	font-size: 1.5em;*/
	width:20%; /*fix to deal with the history column in chrome Still need to see if there is a better way to deal with it*/
	padding: 10px 2px 10px 10px;
}
@media (max-width: 756px) {
    .column-now {
        font-size: 1.3em;
    }
}
@media (min-width: 756px) {
	.column-now {
        border-bottom: thin solid #cccccc;
        /*border-right: thin solid #cccccc;*/
	}
    tr:last-child > .column-now {
        border-bottom: medium none;
    }
	.platform-table-filtered tr:last-child > .column-now {
        border-bottom: thin solid #cccccc;
    }
	.column-now:hover {
		color: white;
	}
	.platform-status-up:hover{
		background-color: #65BE6F;
	}
	.platform-status-slow:hover{
		background-color: #E7BB48;
	}
	.platform-status-down:hover{
		background-color: #AE4B47;
	}
	.platform-status-maintenance:hover{
		background-color: #9775B4;
	}
	.platform-status-unknown:hover{
		background-color: #A9A9A9;
	}
	.platform-status-no-bg:hover {
		background-color: transparent;
		color: inherit;
	}
}
.platform-table-favorite .platform-favorite {
	display: inline;
	color: #666666;
	font-size: .7em;
	position: relative;
	top: -.15em;
}
.platform-table-favorite .platform-favorite.selected {
	color: #fbc51d;
}
.platform-table-favorite .platform-label {
	visibility: hidden;
}
.platform-table-favorite .column-status {
	display: none;
}
.platform-table-filtered .platform-table-group-name {
	display: none;
}
.platform-table-timeline-header > td {
	padding: 6px 0;
}
.platform-table-group-name > td {
  font-family: Arial;
  font-size: 1.2em;
  background-color: #eff6fb;	
  text-align: left;
  position: relative;
  cursor: pointer;
}
.platform-table-group-name > td:hover {
	background-color: #d8ecf8;
    color: #333333;
}
.platform-table-group-name > td {
    color: #525252;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 6px;
	padding-left: 12px;
}
.platform-table-group-name .fa.platform-group-toggle {
	position: absolute;
	right: .5em;
}
.platform-table-group-name .fa.platform-favorite {
	position: static;
	font-size: 1em;
    margin-right: 6px;
}
#instance_group_NORTH_AMERICA .platform-table-group-name > td {
	border-top: none;
}
/*For the main page, only show the times*/
.instance-popup-header h3 > span + span {
	display:none;
}
.instance-popup-header h3 > span:last-child {
	display: inline;
}


/* ====== MOBILE ====== */

@media (max-width: 755px) {
	.platform-header-container {
		text-align: center;
	}
	.platform-header-container > h1 {
		display: none;
	}
	h2 {
		text-align: center;
	}

}
