.button .ui-button-icon {
    height: 18px;
    margin: -3px 10px -1px -3px;
    width: 19px;
    background: url("../../img/success/sprite-icons.png") no-repeat scroll 0 100px rgba(0, 0, 0, 0);
    display: inline-block;
    float: left;
    color: transparent;
}
.button-rss {
    background: linear-gradient(to bottom, #ff7a22 0%, #cc621b 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #b25b1c;
    padding: 4px 3px 3px;	
	float: right;
	position: relative; 
}
.button-rss .ui-button-icon {
    background-position: -200px -240px;
    height: 20px;
    margin: 0;
    width: 20px;
}

/*====== SNAPSHOT ======*/


.platform-title {
	margin-bottom: 20px;
}
.platform-name {
	display: inline;
		font-weight: bold;
		font-size: 2em;
		margin: 0;
}
	.platform-name .platform-name-label {
		font-size: .5em;
	}
.platform-version {
	font-weight: normal;
	font-family: arial;
	font-size: 16px;
	position: relative;
	top: 7px;
	float: right;
	margin-right: 20px;
}

.status-now {
	padding: 12px;
	border-radius: 9px;
	background-color: white;
	color: #133651;
	color: #333333;
	/* border: 2px solid #666666; */
	position: relative;
}
.status-now.instance-trigger {
	cursor: pointer;
}
.status-now-up { background-color: #65BE6F; }
.status-now-info { background-color: #65BE6F; }
.status-now-down { background-color: #AE4B47; }
.status-now-slow { background-color: #e7bb48 ; }
.status-now-maintenance { background-color:  #9775b4 ; }
.status-now-unknown { background-color: #a9a9a9; }

	.status-now .status-now-text {
		display: inline-block;
	}
	.status-now .status-now-title {
		display: block;
		font-weight: bold;
		font-size: 1.5em;
		position: relative;
		top: -.3em;
	}
    .status-now .status-now-icon {
    	color: inherit;
    	margin-right: 30px;
    }
    .status-now .status-now-icon.fa-stack {
        vertical-align: inherit;
    }
    .status-now .status-now-icon.fa-stack > i{
        color: inherit;
        margin-right: 30px;
    }
    .status-now .fa.trigger-icon {
        cursor: pointer;
        position: absolute;
        right: 12px;
        top: 12px;
    }
    .status-now .instance-trigger:hover {
    	font-weight: bold;
    }
@media (max-width: 479px) {
	.status-now {
		text-align: center;
	}
    .status-now .status-now-icon {
    	display: block;
    	margin-right: 0;
    	margin-bottom: 6px;
    }
	
}


/* ====== platform STATUS TABLE ====== */ 

.scroll-button {
	top: 85px;
}

.platform-table {
	font-size: 1.5em;
}

.platform-table-timeline-header, .platform-table-timeline-now, .column-now {
	display: none;
}

.platform-table-row {
	height: 3em;
}
.column-name {
	display: none;
}
.column-now {
	background-color: rgba(229, 244, 250, 0.6);	
}
.column-now-inner {
	width: 100%;
	text-align: center;
}
.column-status {
}
.platform-table-timeline .platform-table-timeline-now {
	white-space: nowrap;
	padding: 0 6px;
}
div.platform-table-instance-line {
	height: .4em;
}
	.platform-table-instance-line .instance-span {
		height: .4em;
	}
	.platform-table-instance-line .instance-trigger {
		min-width: 7%;
	}
	.platform-table-instance-line .instance-span .instance-severity-indicator {
		top: -220%;
		width: 30px;
		height: auto;
	}


/* ====== HISTORY ====== */

.platform-history {
	clear: left;
	margin-bottom: 20px;
}

.platform-history .instance-popup {
	display: block;
	opacity: 1;
	max-height: none;
	max-width: none;
	width: 100% !important;
	position: relative;
	z-index: 0;
	barder-radius: 6px;
	margin-top: 20px;
}
	.platform-history .instance-popup .instance-popup-header {
		font-size: 1em;
		width: 200px;
	}
	.platform-history .instance-popup .popup-button {
		margin-bottom: 15px;
		visibility: hidden;
	}

.instance-popup-header h3 > span:last-child {
/* For the history, only show the date */
	display: none;
}
.instance-popup-header h3 > span + span {
	/*float: right;*/
}


/* ====== MOBILE ====== */

@media (max-width: 755px) {
    .scroll-button {
        top: .25em;
    }
	.btn-rss { top: 9px; }
	.snapshot-text {
		/*display: none;*/
	}
	.platform-version {
	/*
		top: -1px;
		float: none;
    */
	}
	body .content .content-inner-block .container-block .container-block-inner {
		padding-left: 5px;
		padding-right: 5px;
	}

	.page-title-text {
		margin: 0;
	}

	.platform-table{
		font-size: 15px;
	}
		.platform-table-recent .platform-table-instance-line .instance-span .instance-severity-indicator {
			height: 100%;
			top: 0;
			display: none;
		}
		.platform-table-instance-line .instance-span, .platform-table-instance-line .instance-trigger {
			height: 100%;
			top: 0;
		}
		div.platform-table-instance-line {
			border: none;
			/*background: none;*/
			height: 2em;
			border-radius: 6px;
			overflow: hidden;
		}
	
	.instance-popup {
		max-height: 75%;
	}
	
	.platform-history .instance-popup .instance-popup-body {
	}
	.platform-history .instance-popup .instance-popup-header {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.platform-history .instance-popup .instance-popup-header h3 {
		font-size: 15px;
	}
}