.active{
	display:block;
}

.history-content {
	margin: 0 auto;
	width: 960px;
	z-index: 1;
	position: relative;
}
.history-container-status .history-tabs-container .history-content-3up .history-spacer:first-child {
	display: block;
}

.history-spacer .history-content-3up .history-spacer, .history-content-3up .history-spacer {
	width: 32%;
}
.history-content>:first-child {
	margin-top: 0;
}

.history-spacer {
	float: left;
	min-height: 1px;
	width: 32%;
	display: block;
}


.history-container-status .history-tabs-container .history-content-3up h4 {
	display: none;
}
.history-spacer>:first-child {
	margin-top: 0;
}

h4, .text-heading4 {
	/* font-weight: 200;
	font-size: 20px;
	line-height: 1.2;
	margin: 0 0 12px;
	color: #555555;*/
	font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    margin: 0 0 12px;
    color: #555555;
    font-family: Calibri;
}
label {
	cursor: pointer;
	display: inline-block;
	vertical-align: text-bottom;
	font-size: 18px;
    margin-right: 10px;
	font-family: Calibri;
}
.history-spacer>:last-child {
	margin-bottom: 0;
}

.history-dropdown-container {
	display: inline-block;
}
.history-dropdown-container {
	background: #fff;
	position: relative;
	vertical-align: middle;
}

.history-container-status #history-historyResults-container h2 {
	display: block;
}
.history-container-status #history-historyResults-container h2 {
	display: none;
}
.history-content>:first-child {
	margin-top: 0;
}

h2, .text-heading2 {
	font-weight: 500;
	font-size: 26px !important;
	line-height: 1.2;
	margin: 0 0 12px;
	color: #555555;
	font-family: Calibri;
}
.history-statusHistory {
	margin-bottom: 20px;
	margin-top: 10px;
}
.history-statusHistory .date {
	width: 10%;
}
.history-statusHistory .date, .history-statusHistory .status {
	display: block;
	float: left;
}

.history-container-status .text-heading4:not(.date-longform) {
	display: block;
}

.history-statusHistory .status {
	width: 90%;
}
.history-statusHistory .date, .history-statusHistory .status {
	display: block;
	float: left;
}

p {
	font-size: 16px;
	margin: 10px 0;
	font-family: Calibri;
    font-weight: 200;
}
.history-statusHistory:after {
	clear: both;
	content: "";
	display: table;
}
.history-content:after {
	clear: both;
	content: "";
	display: table;
}