<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
<!--  scontrol=01ND00000000AVm
serverurl=https://prerelease.salesforce.com/services/Soap/c/6.0
      
 AJAX  scontrol to update one or many contact records to match the parent account
	
 TODO, check this on the new skin !! may need some tweaks
 
 Started with the example from the AJAX toolkit beta1 and re-wrote to be based on a single account , 
 now intended launched from a WIL on the account page
 serves as a  example of  AJAX in an scontrol located on an object page
-->
<title>Mass Change Contact Addresses</title>
<link  href="/dCSS/Theme2/default/common.css" type="text/css" rel="stylesheet" >
<link  href="/dCSS/Theme2/default/custom.css" type="text/css" rel="stylesheet" >
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/js/setup.js"></script>

<script src="http://www.salesforce.com/services/lib/ajax/beta3.3/sforceclient.js" type="text/javascript"></script>

<script language="javascript"> 
<!--
function pageInit() {
	sforceClient.init("{!API.Session_ID}", "{!API.Partner_Server_URL_60}");
	if (sforceClient.getSessionId().indexOf("!API_Session_ID") != -1) {
		alert("Could not login using API"); 
		return; 
	} 
	loadAccountInfo();
	setupForm();
}

var accId = "{!Account.Id}"; 
var accName = "{!Account.Name}"; 
var addStreet = ""; // this link is filled in by loadAccountInfo(), because it may be a multi line...
var retUrl = "{!Account.Link}"; 
var addZip = "{!Account.BillingPostalCode}"; 
var addCity = "{!Account.BillingCity}"; 
var addCountry = "{!Account.BillingCountry}"; 
var addState = "{!Account.BillingState}";

function loadAccountInfo() {
	var account = sforceClient.Retrieve("Id, Name, BillingStreet, BillingPostalCode, BillingCity, BillingCountry, BillingState", "Account", "{!Account.Id}")[0];
	addStreet = account.get("BillingStreet"); // should not be a multi line
	var html = "<table width=70%><tr>";
	html += "<td width=35% nowrap valign=top class='dataLabel'>Account Name:</td>";
	html += "<td class='dataField'><a color='#FFFFFF' href='" + 
		retUrl + "' target=_blank>" + "{!Account.Name}" + "</a></td></tr><tr>";
	html += "<td class='bodyBold' colspan=5 nowrap>Address Information:</td>";
	html += "</tr><tr><td class='blackLine' colspan=5><img src='/s.gif'></td></tr><tr>";
	html += "<td width=35%  valign=top class='dataLabel'>Apply Address to Checked Contacts</td>";
	html += "<td valign=top colspan=4 class='dataField'>" + addStreet + "<br>";
	html += "{!Account.BillingCity}, ";
	html += "{!Account.BillingState} ";
	html += "{!Account.BillingPostalCode} <BR>";
	html += "{!Account.BillingCountry}</td>";
	html += "</tr></table>";
	document.getElementById("divAccountInfo").innerHTML = html;
}	

function cancelUpdate() { window.parent.parent.location.href = retUrl; }

function trim(string) { return string.replace(/(^\xA0*)|(^\s*)|(\s*$)/g,''); } 

function SelectChecked(form, element_name, value) { 
	var i = 0; for (i = 0; i < form.elements.length; i++) { 
		if (form.elements[i].name == element_name) { 
			form.elements[i].checked = value; 
		} 
	} 
} 

function IsChecked(form, element_name, value) { 
	var updateObjects = new Array();
	for (i = 0; i < form.elements.length; i++) { 
		if ((form.elements[i].name == element_name) && (form.elements[i].checked)) { 
			var contact = new Sforce.Dynabean("Contact");
			contact.set("Id",form.elements[i].value);
			contact.set("MailingCity", addCity);
			contact.set("MailingStreet", addStreet);
			contact.set("MailingCountry", addCountry);
			contact.set("MailingPostalCode", addZip);
			contact.set("MailingState", addState);
			updateObjects.push(contact);
		} 
	} 

	if (updateObjects.length > 0) { 
		var x = window.confirm("Are you sure you want to update "+ updateObjects.length +" record(s) ?"); 
		if (x) { 
			var sr = sforceClient.Update(updateObjects);
			window.parent.parent.location.href = retUrl; 
		} 
	} else { 
		alert("No Records will be updated"); 
		window.parent.parent.location.href = retUrl; 
	} 
} 

//--> 
	</script>
</head>
<body vLink="#000000" aLink="#99cc00" link="#000000" onload="pageInit()">
<script language="javascript"> 
<!-- 
function setupForm() {	//  Query to get Contact informaiont at this accont
	var qr = sforceClient.Query("Select Id, FirstName, LastName, MailingStreet, MailingCity, MailingPostalCode, MailingState, MailingCountry from Contact Where AccountId = '" + accId + "'");

	var docContents ="<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">"; 
	docContents += "<tr><td colspan=\"15\" class=\"blackLine\"><img src=\"https://na1.salesforce.com/s.gif\"></td></tr>"; 
	docContents += "<tr class=\"accountsTab\">"; 
	docContents += "<td><input name=\"\" type=\"checkbox\" id=\"\" onClick=\"javascript:SelectChecked(document.forms['Multi_Contact'],'ids',this.checked)\" value=\"\"></td>"; 
	docContents += "<td width=1 nowrap><img src=\"https://na1.salesforce.com/s.gif\"></td>"; 	
	docContents += "<td nowrap class=\"columnHeadInactiveWhite\"> &nbsp;First Name</td>"; 
	docContents += "<td width=1 nowrap><img src=\"https://na1.salesforce.com/s.gif\"></td>"; 
	docContents += "<td nowrap class=\"columnHeadInactiveWhite\"> &nbsp;Last Name</td>"; 
	docContents += "<td width=1 nowrap><img src=\"https://na1.salesforce.com/s.gif\"></td>"; 
	docContents += "<td nowrap class=\"columnHeadInactiveWhite\"> &nbsp;Street</td>"; 
	docContents += "<td width=1 nowrap><img src=\"https://na1.salesforce.com/s.gif\"></td>"; 
	docContents += "<td nowrap class=\"columnHeadInactiveWhite\"> &nbsp;City</td>"; 
	docContents += "<td width=1 nowrap><img src=\"https://na1.salesforce.com/s.gif\"></td>"; 
	docContents += "<td nowrap class=\"columnHeadInactiveWhite\"> &nbsp;Zip Code</td>"; 
	docContents += "<td width=1 nowrap><img src=\"https://na1.salesforce.com/s.gif\"></td>"; 
	docContents += "<td nowrap class=\"columnHeadInactiveWhite\"> &nbsp;State</td>"; 
	docContents += "<td width=1 nowrap><img src=\"https://na1.salesforce.com/s.gif\"></td>"; 
	docContents += "<td nowrap class=\"columnHeadInactiveWhite\"> &nbsp;Country</td>"; 
	docContents += "<td width=1 nowrap><img src=\"https://na1.salesforce.com/s.gif\"></td>"; 
	docContents += "</tr>"; 
	docContents += "<tr><td colspan=\"15\" class=\"blackLine\"><img src=\"https://na1.salesforce.com/s.gif\"></td></tr>"; 

	if (qr.size > 0) {
		for (var i=0;i<qr.records.length;i++) {
			var row;
			if (i%2 == 0) {
				docContents += "<tr bgcolor=\"#EEEEEE\">";  // TODO how to make this look good on both skins
			} else { 
				docContents += "<tr bgcolor=\"#DDDDDD\">"; 
			} 
			contact = qr.records[i];
			var tabCol = [contact.get("Id"), contact.get("FirstName"), contact.get("LastName"), contact.get("MailingStreet"), contact.get("MailingCity"), contact.get("MailingPostalCode"), contact.get("MailingState"), contact.get("MailingCountry")];
			docContents += "<td><input type=\"checkbox\" name=\"ids\" value=\"" + tabCol[0] + "\" id=\"ids\"> </td>"; 
			docContents += "<td bgcolor=\"#666666\" width=1 ><img src=\"https://na1.salesforce.com/s.gif\"></td>"; 
			for (var j=1;j<tabCol.length;j++) {
				docContents += "<td>&nbsp;" + tabCol[j] + "</td>"; 
				docContents += "<td bgcolor=\"#666666\" width=1 nowrap><img src=\"https://na1.salesforce.com/s.gif\"></td>"; 
			} 
			docContents += "</tr>";
			
		}
		docContents += "</table>";
	}					
	
	docContents += "<tr><td colspan=\"15\" class=\"blackLine\"><img src=\"https://na1.salesforce.com/s.gif\"></td></tr>"; 
	docContents += "</table>"; 
	docContents += '<DIV style="POSITION: relative; HEIGHT: 51px" ms_positioning="GridLayout">';
	docContents += '<INPUT class="button" id="button1" style="Z-INDEX: 101; LEFT: 260px; POSITION: absolute; TOP: 16px" onclick="javascript: IsChecked(document.forms[\'Multi_Contact\'],\'ids\',this.checked)" type="button" value="Update" name="Button1">';
	docContents += '<INPUT class="button" id="button2" style="Z-INDEX: 102; LEFT: 324px; POSITION: absolute; TOP: 16px" onclick="javascript: cancelUpdate()" type="button" value="Cancel" name="Button2">';
	docContents += '</DIV>';
	document.getElementById("divTableHeader").innerHTML = docContents;
}
//--> 
</script>
	<FORM id="Multi_Contact">		
		<DIV id="divSpace1" style="POSITION: relative" ms_positioning="GridLayout">
			<TABLE id="Table1" cellSpacing="0" cellPadding="0"  border="0">
				<TR vAlign="top">
					<TD  height="4"><IMG src="https://na1.salesforce.com/s.gif"></TD>
				</TR>
			</TABLE>
		</DIV>
		<DIV id="divAccountInfo" style="POSITION: relative; HEIGHT: 128px" ms_positioning="GridLayout"></DIV>
		<DIV id="divSpace2" style="POSITION: relative" ms_positioning="GridLayout">
			<TABLE cellSpacing="0" cellPadding="0" border="0">
				<TR vAlign="top">
					<TD  height="4"><IMG src="https://na1.salesforce.com/s.gif"></TD>
				</TR>
			</TABLE>
		</DIV>
		<DIV id="divTableHeader" style=" POSITION: relative; HEIGHT: 22px" ms_positioning="GridLayout">
			<table id="contactTable" style="LEFT: 0px; POSITION: absolute; TOP: 0px" height="22" cellSpacing="0"
				cellPadding="0"  border="0">
				<tr>
					<td class="blackLine" colSpan="15"><IMG src="https://na1.salesforce.com/s.gif"></td>
				</tr>
				<tr class="accountsTab">
					<td><input id="" onclick="javascript:SelectChecked(document.forms['Multi_Contact'],'ids',this.checked)" type="checkbox" value="" name=""></td>
					<td noWrap width="1"><IMG src="https://na1.salesforce.com/s.gif"></td>
					<td class="columnHeadInactiveWhite">&nbsp;First Name</td>
					<td noWrap width="1"><IMG src="https://na1.salesforce.com/s.gif"></td>
					<td class="columnHeadInactiveWhite">&nbsp;Last Name</td>
					<td noWrap width="1"><IMG src="https://na1.salesforce.com/s.gif"></td>
					<td class="columnHeadInactiveWhite">&nbsp;Street</td>
					<td noWrap width="1"><IMG src="https://na1.salesforce.com/s.gif"></td>
					<td class="columnHeadInactiveWhite">&nbsp;City</td>
					<td noWrap width="1"><IMG src="https://na1.salesforce.com/s.gif"></td>
					<td class="columnHeadInactiveWhite">&nbsp;Zip Code</td>
					<td noWrap width="1"><IMG src="https://na1.salesforce.com/s.gif"></td>
					<td class="columnHeadInactiveWhite">&nbsp;State</td>
					<td noWrap width="1"><IMG src="https://na1.salesforce.com/s.gif"></td>
					<td class="columnHeadInactiveWhite">&nbsp;Country</td>
					<td noWrap width="1"><IMG src="https://na1.salesforce.com/s.gif"></td>
				</tr>
				<tr>
					<td class="blackLine" colSpan="15"><IMG src="https://na1.salesforce.com/s.gif"></td>
				</tr>
			</table>
		</DIV>
	</FORM>
	</body>
</html>