.colorChange{
    background-color: #0c73f9;
}
.slds-card__header{
    background-color: blue;
}

.THIS.slds-card__header{
    background-color: royalblue;
}
lightning-card{
    --slds-c-card-header-color-background: #aadae9d8;
}