@font-face {
    font-family: 'amadeus-regular-web';
    src: url(../resource/AmadeusRegularFont/amadeus-regular-web.woff) format('woff');
}
@font-face {
    font-family: 'amadeus-thin-web';
    src: url(../resource/AmadeusThinFont/amadeus-thin-web.woff) format('woff');
}
:root { --dxp-c-section-columns-max-width: 1170px; }