#sidebarCell, #sidebarDiv  {
  display: none;
}

a {text-decoration:none;color:#005EB8;}
a:link { color:#005EB8; text-decoration:none;}
a:visited {color:#005EB8; text-decoration:none;}
a:hover   {color:#00A9E0; text-decoration:none;}
a:active  {color:#00A9E0; text-decoration:none;}

div
{
	font-family: Verdana,Arial,sans-serif;
}


.cendynDetailClass
{
	font-size:75%;
	font-family: Verdana,Arial,sans-serif;
	
}

.cendynDetailLabel
{
	text-align: right;
	font-family: Verdana,Arial,sans-serif;
}

.cendynDetailHeader
{
	font-size:100%;
	font-family: Verdana,Arial,sans-serif;
}

.cendynTableHeader
{
	text-align:center;
	font-size:100%;
	font-weight:bold;
	font-family: Verdana,Arial,sans-serif;
	
}

.cendynDetailItemsTable
{
	font-size:75%;
	font-family: Verdana,Arial,sans-serif;
	width:100%;
	

}


p,
HTML,
Table,
td
{
    font-size: 105%;
    font-family: Verdana,Arial,sans-serif;
}

ul
{
	list-style-type: none;
}

.partnerContacts
{
	color:#005EB8;
}

.tableImageClass
{
	vertical-align:middle;
	padding:20px;
}

textarea
{
	font-family: Verdana,Arial,sans-serif;
}